{
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "printWidth": 120,
    "useTabs": false,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "tabWidth": 4,
    "singleAttributePerLine": false,
    "singleQuote": false,
    "semi": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "lf",
    "bracketSpacing": true
}
