@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: auto !important;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-top: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(var(--v-theme-secondary));
    border-radius: 5px;
    border: 3px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--v-theme-on-secondary), 0.5);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(var(--v-theme-on-secondary), 0.6);
}

.p-inputtext {
    min-width: 1px;
}
.p-password-input {
    flex: 1;
}

.p-card-body {
    min-height: 0;
}
.p-card-content {
    min-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-surface-100);
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
